* {
  margin: 0;
  padding: 1;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: black;
  background-image: url(652854_v2.jpg);
  background-position: center center;
  background-size: cover;
}
h1 {
  background-color: blue;
  border-color: blue;
  color: white;
  text-align: center;
background-image: url(cool-lamborghini-ihr4sse8qftmt1sd.jpg); 
  padding: 15px 10px;
}
.menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0px;
  gap: 10px;
  
  border-radius: 7px;
}
h2 {
  line-height: 2cm;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  
}
p {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  padding: 20px;
  color: white;
}
li {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  padding: 20px;
  color: white;
}
nav {
  background: white;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 0 25px 20px 20px rgba(0, 0, 0, 0.4);
  background-image: url(nimbos_.jpg);
  background-size: cover;
}
nav ul li {
  list-style: none;
  display: inline-grid;
  padding: 13px 35px;
  margin: 10px;
  font-size: 18px;
  font-weight: 500;
  color: black;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 0.3s;
}
nav ul li::after {
  content: '';
  background: black;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
}
nav ul li:hover {
  color: white;
}
nav ul li:hover::after {
  top: 50%;
  opacity: 1;
}
